html, body {
    margin:0;
    padding:0;
}

#header {
    margin:0 auto;
    width:100%;
    height:60px;
    background-color:#696969;
    display:flex;
    justify-content: space-between;
    align-items:center; 
}

#header-img {
    max-width:80px;
    height:auto;
    /* padding:5px; */
    /* background-color:white; */
}

#nav-bar {
    width:450px;
    height:auto;
    display:flex;
    justify-content: space-between;
}

.nav-link {
    width:130px;
    text-decoration:none;
    font-size:20px;
    /* margin:0px 10px; */
    text-align:center;
    padding:10px 5px;
    color:#FFF;
    transition: 300ms ease-in-out;
    border-radius:10px;
}

.nav-link:hover {
    color:#FFF;
    background-color:#8B008B;
    transform:translate(3px, 3px);
    /* transition:2s; */
}

#section-about {
    margin:0 auto;
    width:100%;
    height:auto;
    padding-bottom:20px ;
    text-align:center;
    background-color:#8B0000;
}

#section-about>p {
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight:800;
    font-size:50px;
    color:#FFF;
    margin:0;
    padding:8px;
}

#video {
    margin:10px;
}

#section-product {
    width:100%;
    /* height:100vh; */
    background-color:#F5F5F5;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
}

.card-row {
    width:90%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    background-color:whitesmoke;
    padding:20px 20px;
    transition: 2s ease-in-out;
}

.card {
    width:350px;
    height:350px;
    margin:10px;
    /* padding:10px; */
    background-color:#FFF;
    border-radius:15px;
    text-align:center;
}

.card-row :hover {
    transform:translate(5px, 5px);
}

.card-title {
    text-align:center;
    text-transform:capitalize;
    font-size:25px;
    padding:10px;
}

.card-image {
    width:200px;
    height:200px;
}

.card-info {
    font-size:20px;
    padding:5px;
    text-transform:capitalize;
    font-weight:bold;
   
}

.card-price {
    font-size:18px;
    
}

.more-info {
    width:150px;
    padding:5px;
    margin:5px 0px;
    background-color:#0000FF;
    border-radius:10px;
    border:none;
    color:#F5F5F5;
    /* font-size:18px; */
}

#section-contact {
    background-color:#DB7093;
    padding:20px;
}

#form {
    margin:0 auto;
    width:40%;
    height:auto;
    font-size:20px;
    background-color:#708090;
    padding:20px;
    /* text-align:center; */
    margin-bottom:20px;
    border-radius:8px;
}

input[type="text"], 
input[type="email"],
input[type="tel"] {
    width:95%;
    padding:10px;
    margin:10px 0px;
    outline:none;
}

#message {
    padding:10px;
    margin:10px 0px;
    outline:none;
}

input[type="submit"] {
    width:150px;
    padding:10px;
    margin:10px 0px;
    background-color:#0000FF;
    border-radius:15px;
    border:none;
    color:#F5F5F5;
    font-size:20px;
}

#footer {
    position:fixed-bottom;
    width:100%;
    height:60px;
    background-color:#40E0D0;
    border-top:10px solid #808080;
    text-align:center;
    padding-top:35px;
}


@media only screen and (max-width:667px) {
    #header {
        display:block;
        justify-content: center;
        text-align:center;
        height:auto;  
    }

    #header-img {
        max-width:50%;
        height:auto;
        text-align:center;
    }

    #nav-bar {
        width:90%;
        margin:0 auto;
        flex-direction:column;
        justify-content: center;
        text-align:center;
        padding-bottom:15px;
    }

    .nav-link {
        width:90%;
        font-size:25px;
        margin:0 auto;
        /* padding-top:10px; */
        padding-bottom:10px;
        border-radius:0px;
        border-bottom:1px solid silver;
    }

    /* #section-product {
        margin:0 auto;
        display:block;
        justify-content: center;
        text-align:center;
        height:auto;  
        align-items:center;
    } */

    .card-row {
        margin:0 auto;
        width:100%;
        /* display:block; */
        flex-direction:column;
        justify-content: center;
        text-align:center;
        height:auto; 
        align-items:center;
        padding:0; 
        margin:0;
    }

    .card {
        width:70%;
        height:auto;
        justify-content: center;
        text-align:center;
        text-align:center;
        /* margin:10px; */
        padding:10px;
    }

    #form {
        width:80%;
    }

    #message {
        width:95%
    }


}